<div class="container" [class.dialog-blur]="deleteDialogIsOpen">
  <app-header [title]="'Manage Keyword Lists'" (backClick)="navigateToHomeScreen()"></app-header>

  <div class="list-container">
    <div *ngIf="!keywordLists" [ngClass]="{ 'loading': loading }" class="load-text onload">Loading...</div>
    <div *ngIf="keywordLists && keywordLists.length == 0" class="empty-keyword-list">
      <div class="load-text"> No Keyword Lists </div>
      <div class="load-text-description"> Tap the button below to make your first keyword list. </div>
    </div>
    <div *ngFor="let keywordList of keywordLists" class="keyword-list-button">
      <div class="click-mask" (click)="keywordListClicked(keywordList)"></div>
      <div class="keyword-list-header">
        <div class="title">{{keywordList.name}}</div>
        <div class="date">{{formatDate(keywordList.creation_date)}}</div>
      </div>
      <div class="keyword-list-keywords">{{keywordList.keywordsText}}</div>
      <app-context-menu class="keyword-list-options">
        <div class="menu-item red" (click)="deleteKeywordList(keywordList)">Delete</div>
      </app-context-menu>
    </div>
  </div>
  <button class="basic-button medium-button" (click)="openNewKeywordList()">New Keyword List</button>
</div>

<app-dialog *ngIf="deleteDialogIsOpen" (closeDialog)="closeDeleteDialog()">
  <div class="dialog-window">
    <div class="dialog-heading">Delete Keyword List</div>
    <div class="dialog-body">Are you sure you want to permanently delete this keyword list?</div>
    <button class="delete-button" (click)="confirmDeleteKeywordList()">Delete</button>
    <button class="cancel-button" (click)="closeDeleteDialog()">Cancel</button>
  </div>
</app-dialog>
