@import '../../design-system';

.add-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .add-icon {
        fill: $solid-blue;
    }

    &:hover {
        cursor: pointer;

        .add-icon {
            fill: lighten($solid-blue, 5);
        }
    }

    &.clicked {
        .add-icon {
            fill: darken($solid-blue, 5);
        }
    }

    &.invalid {
        &:hover {
            cursor:default;
        }
        path {
            fill: #AAAAB3;
            pointer-events: none;
        }
    }
}
