<div class="home-container">
    <div class="intro-box">
        <div class="greeting">Good {{timeOfDay}}!</div>
        <div class="instruction">Welcome to the Discussion Capture Dashboard. You can start gathering analytic data by recording a new discussion.</div>
    </div>
    <img src="../../assets/img/home_graphic_respeaker.svg" class="logo">
    <div class="home-button" (click)='router.navigateByUrl("/sessions")'>
        <img src="../../assets/img/icon-record.svg" class="icon">
        <div class="button-text">Discussions</div>
    </div>
    <div class="home-button" (click)='router.navigateByUrl("/keyword-lists")'>
        <img src="../../assets/img/icon-wordlist.svg" class="icon">
        <div class="button-text">Keyword Lists</div>
    </div>
    <div class="home-button" (click)='router.navigateByUrl("/pods")'>
        <img src="../../assets/img/icon-pod.svg" class="icon">
        <div class="button-text">Pods</div>
    </div>
    <div class="home-button" (click)='navigateToSettings()'>
        <img src="../../assets/img/settings.svg" class="icon">
        <div class="button-text">Settings</div>
    </div>
    <div class="home-button" (click)='navigateToHelp()'>
        <img src="../../assets/img/question.svg" class="icon">
        <div class="button-text">Help</div>
    </div>
    <div class="home-button" (click)='logout()'>
        <img src="../../assets/img/logout.svg" class="icon">
        <div class="button-text">Sign Out</div>
    </div>
</div>
