.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  min-height: 28px;
  max-height: 28px;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: hidden;
  white-space: nowrap;
}

.line {
  background-color: #E3E5F1;
  min-height: 1px;
  width: 100%;
}

.color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 4px;
}

.question {
  background-color: #FAB978;
  border: 1px solid #FAB978;
  border-radius: 2px;
}

.discussion {
  background-color: #6BDA88;
  border: 1px solid #6BDA88;
  border-radius: 2px;
}

.silence {
  background-color: #f5f3f9;
  border: 1px solid rgba(42, 23, 74, 0.2);
  border-radius: 2px;
}

.legend-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'SST', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-tiilt-ink, #221a33);
  text-align: left;
  margin-right: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  min-height: 32px;
  margin-top: 16px;
  display: flex;
  width: 100%;
  background-color: #f5f3f9;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.utterance {
  position: absolute;
  height: 30px;
  border: 1px solid #6BDA88;
  border-radius: 2px;
  background-color: #6BDA88;
}

.utterance.question {
  background-color: #FAB978;
  border: 1px solid #FAB978;
}

.time-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 20px;
  max-height: 20px;
  margin-top: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time-text {
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #221a33;
  opacity: 0.5;
}
