.basic-button {
  width: 100%;
  text-align: center;
  border-radius: 26px;
  border: none;
  padding: 12px 16px 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: var(--color-tiilt);
}

.basic-button:focus {
  outline: 0;
}

.basic-button:hover {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
}

.basic-button:active {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
}

.cancel-button {
  width: 100%;
  border-radius: 26px;
  border: none;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-tiilt);
}

.cancel-button:focus {
  outline: 0;
}

.dialog-heading {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SST', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-tiilt-ink);
}

.dialog-body {
  text-align: left !important;
  max-height: 300px;
  overflow-y: auto;
}

.dialog-button-container {
  width: 100%;
  margin: 8px 0;
}

.dialog-button {
  display: inline-block;
  width: 33%;
  border-radius: 26px;
  border: none;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 8px 12px 8px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-tiilt);
}

.dialog-button:focus {
  outline: 0;
}

.dialog-content {
  min-width: 250px;
}

.dialog-dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}
