.keyword {
  opacity: .75;
  color: #3a2163;
  font-weight: bold;
  cursor: pointer;
}

.no-keywords {
  opacity: .75;
  color: rgba(92, 92, 92, 0.4);
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

.timeline-container {
  position: relative;
}

.timeline-container .keyword-timeline {
  -ms-grid-columns: 60px 240px;
      grid-template-columns: 60px 240px;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  display: -ms-grid;
  display: grid;
}

.timeline-container .keyword-timeline .keyword-text {
  -ms-grid-column: 1;
  grid-column: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
  line-height: 30px;
  font-size: 15px;
  color: #675e7d;
}

.timeline-container .keyword-timeline .keyword-graph {
  -ms-grid-column: 2;
  grid-column: 2;
  position: relative;
}

.timeline-container .keyword-timeline .keyword-graph hr {
  margin: 15px 0px;
}

.timeline-container .keyword-timeline .keyword-graph .keyword-point {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  top: 4px;
  cursor: pointer;
}
