.load-text {
  font-family: 'SST', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-tiilt-ink);
  width: auto;
  margin-bottom: 32px;
}

.dialog-heading {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SST', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-tiilt-ink);
}

.dialog-body {
  text-align: left !important;
  max-height: 300px;
  overflow-y: auto;
}

.dialog-button-container {
  width: 100%;
  margin: 8px 0;
}

.dialog-button {
  display: inline-block;
  width: 33%;
  border-radius: 26px;
  border: none;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 8px 12px 8px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-tiilt);
}

.dialog-button:focus {
  outline: 0;
}

.dialog-content {
  min-width: 250px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}
