.pod-overview-button {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SST', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-tiilt-ink);
  width: 150px;
  height: 150px;
  background-color: var(--color-tiilt-ground);
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.pod-overview-button:hover {
  cursor: pointer;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -3px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -3px rgba(42, 23, 74, 0.2);
}

.pod-overview-button *::-moz-selection {
  background: none;
}

.pod-overview-button *::selection {
  background: none;
}

.pod-overview-button .pod-overview-icon {
  margin-top: 15px;
}

.svgpulse {
  -webkit-animation: svgpulse 1s ease-out infinite;
          animation: svgpulse 1s ease-out infinite;
}

.load-text {
  font-family: 'SST', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-tiilt-ink);
  width: auto;
  margin-bottom: 32px;
}

.dialog-heading {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SST', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-tiilt-ink);
}

.dialog-body {
  text-align: left !important;
  max-height: 300px;
  overflow-y: auto;
}

.dialog-button-container {
  width: 100%;
  margin: 8px 0;
}

.dialog-button {
  display: inline-block;
  width: 33%;
  border-radius: 26px;
  border: none;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 8px 12px 8px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-tiilt);
}

.dialog-button:focus {
  outline: 0;
}

.dialog-content {
  min-width: 250px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}

@-webkit-keyframes svgpulse {
  0% {
    stroke-width: 0;
    r: 31.5;
  }
  15% {
    stroke-width: 0;
    r: 31.5;
  }
  100% {
    stroke-width: 8;
    r: 35.5;
  }
}

@keyframes svgpulse {
  0% {
    stroke-width: 0;
    r: 31.5;
  }
  15% {
    stroke-width: 0;
    r: 31.5;
  }
  100% {
    stroke-width: 8;
    r: 35.5;
  }
}
