@import '../../design-system';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.greeting {
    @include text-title1($text-blue);
    margin: $stack-XS;
    margin-top: $space-2XL;
    text-align: center;
}

.instruction {
    @include text-caption1($text-light);
    width: 343px;
}

.medium-button {
  margin: 10px 0px !important;
}