[Unit]
Description=Audio Processing Service
After=network-online.target
StartLimitIntervalSec=0
[Service]
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/home/ubuntu/chemistry-dashboard/
Environment="GOOGLE_CLOUD_PROJECT=focused-service-291115"
ExecStart=/home/ubuntu/.pyenv/versions/audio_processor/bin/python audio_processing/server.py
[Install]
WantedBy=multi-user.target
