[Unit]
Description=Audio Posthoc Processor Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/var/lib/chemistry-dashboard/
ExecStart=/home/ubuntu/.pyenv/versions/audio_processor/bin/python audio_processing/server_posthoc.py

[Install]
WantedBy=multi-user.target
