[Unit]
Description=Audio Processing Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/var/lib/chemistry-dashboard/
ExecStart=/home/blinc/.pyenv/versions/audio_processor/bin/python audio_processing/server.py

[Install]
WantedBy=multi-user.target
