[Unit]
Description=Discussion Capture Server
After=network-online.target
StartLimitIntervalSec=0

[Service]
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/var/lib/chemistry-dashboard/
ExecStart=/home/blinc/.pyenv/versions/discussion_capture/bin/python server/discussion_capture.py

[Install]
WantedBy=multi-user.target
