[Unit]
Description=Discussion Capture Server
After=network-online.target
StartLimitIntervalSec=0

[Service]
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/home/clj8621/chemistry-dashboard/
ExecStart=/home/clj8621/.pyenv/versions/discussion_capture/bin/python

[Install]
WantedBy=multi-user.target
