.basic-button {
  width: 100%;
  text-align: center;
  border-radius: 26px;
  border: none;
  padding: 12px 16px 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: var(--color-tiilt);
}

.basic-button:focus {
  outline: 0;
}

.basic-button:hover {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
}

.basic-button:active {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
}

.delete-button {
  width: 100%;
  text-align: center;
  border-radius: 26px;
  border: none;
  padding: 12px 16px 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 8px 0 rgba(42, 23, 74, 0.2), 0 8px 8px -4px rgba(42, 23, 74, 0.2);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: var(--color-tiilt-danger);
}

.delete-button:focus {
  outline: 0;
}

.delete-button:hover {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.2), 0 12px 12px -4px rgba(42, 23, 74, 0.2);
}

.delete-button:active {
  -webkit-box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
          box-shadow: 0 0 2px 0 rgba(42, 23, 74, 0.08), 0 6px 6px -4px rgba(42, 23, 74, 0.24);
}

.page-container {
  overflow: auto;
  position: absolute;
  margin-top: 60px;
  height: calc(100% - 116px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 40px auto;
      grid-template-rows: 40px auto;
      grid-template-areas: "header" "graph";
}

.header-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-container .header-spacer {
  width: 85px;
  height: 40px;
}

.header-container .header-text {
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  min-width: 250px;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--color-tiilt);
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: graph;
  overflow-y: overlay;
  overflow-x: hidden;
  height: calc(100% - 20px);
}

.graph-container .timeline {
  position: relative;
  width: 70px;
  min-width: 70px;
  margin-left: 15px;
  font-size: 11px;
  line-height: 0px;
  color: var(--color-tiilt);
}

.graph-container .timeline .timestamp {
  position: relative;
  margin-top: 10px;
  margin-bottom: 100px;
}

.graph-container .transcript-column {
  position: relative;
  min-width: 250px;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.graph-container .transcript-column .transcript {
  position: absolute;
  width: calc(100% - 15px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5px;
  min-height: 40px;
  font-size: 16px;
  background-color: var(--color-white);
  -webkit-box-shadow: 3px 3px 5px #b5b5b5;
          box-shadow: 3px 3px 5px #b5b5b5;
  border-radius: 5px;
  color: var(--color-tiilt-ink);
}

.graph-container .transcript-column .transcript .transcript-text {
  margin: 5px 7px 5px 7px;
  line-height: 30px;
}

.graph-container .transcript-column .transcript .transcript-text .keyword-text {
  cursor: pointer;
}

.graph-container .transcript-column .transcript .transcript-text .speaker-tag {
  font-weight: bold;
}

.graph-container .transcript-column .transcript .transcript-text .question-highlight {
  background-color: yellow;
}

.graph-container .transcript-column .transcript .transcript-text .question-mark {
  font-size: 18px;
  height: 25px;
  min-width: 15px;
  color: white;
  font-style: bold;
  position: absolute;
  border-radius: 0px 5px 0px 5px;
  top: 0;
  right: 0;
  background-color: var(--color-tiilt);
  height: 29px;
  text-align: center;
  cursor: pointer;
}

.graph-container .transcript-column .transcript .transcript-text .question-mark:hover {
  background-color: yellow;
  color: black;
}

.graph-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 100%;
}

.graph-box .pie-chart {
  position: absolute;
  height: 200px;
}

.graph-box .pie-piece-text {
  position: absolute;
  height: 40px;
  width: 48px;
  background-color: var(--color-white);
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  top: 80px;
}

.graph-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 15px;
  width: 240px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.graph-legend .color-box {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-top: 4px;
}

.graph-legend .name {
  padding-right: 10px;
  width: 80px;
  height: 20px;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.question-container {
  max-height: 250px;
  min-height: 0px;
  position: relative;
  overflow: auto;
}

.question-container .question-item {
  background-color: var(--color-tiilt-ground);
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
  border-radius: 5px;
  font-family: 'SST', sans-serif;
  color: var(--color-tiilt-ink);
  font-size: 16px;
  margin: 10px 5px 10px 10px;
  width: 85%;
  padding: 10px;
}
