<div class="list-container">
  <div *ngIf="visibleFolders.length == 0"> There is no valid location for this item. </div>
  <ng-container *ngIf="visibleFolders.length > 0">
    <div class="breadcrumb-container">
      <img *ngIf="breadcrumbs.length == 1" src="../assets/img/icon-back.svg" class="breadcrumb-arrow-icon" (click)="displayFolder()">
      <img *ngIf="breadcrumbs.length > 1" src="../assets/img/icon-back.svg" class="breadcrumb-arrow-icon" (click)="displayFolder(breadcrumbs[breadcrumbs.length - 2].id)">
      <span (click)="displayFolder()" class="crumb-name"> Home</span>
      <span *ngIf="breadcrumbs.length > 1" class="breadcrumbs"> / . . . / </span>
      <span *ngIf="breadcrumbs.length == 1" class="breadcrumbs"> / </span>
      <div *ngIf="breadcrumbs.length > 0" class="crumb-name">{{ breadcrumbs[breadcrumbs.length - 1].name}}</div>
    </div>
    <ul class="list">
      <li *ngFor="let folder of visibleFolders" class="folder-item" (click)="setSelectedFolder(folder.id)" [class.selected]="folder.id == selectedFolder">
        <img src="../assets/img/folder.svg" class="folder-icon">
        <div class="folder-title">{{folder.name}}</div>
        <img *ngIf="hasChildren(folder)" src="../assets/img/icon-forward.svg" class="open-folder-icon" (click)="displayFolder(folder.id)">
      </li>
      <li *ngIf="visibleFolders[0].parent == null" class="folder-item" (click)="setSelectedFolder(-1)" [class.selected]="-1 == selectedFolder">
        <img src="../assets/img/home.svg" class="add-to-home">
        <div class="folder-title"> Home </div>
      </li>
    </ul>
  </ng-container>
</div>
