@import '../design-system';

$min-column-width: 300px;
$max-column-width: 500px;

.radar-container {
    overflow: auto;
    position: absolute;
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
    grid-template-areas:
    "header"
    "graph";
}
