<div class="heatmap-container" [style.height]="(showTools)?'190px': '160px'">
  <svg class="graph" height="112" width="112">
    <radialGradient id="heatGradient" cx="56" cy="56" gradientUnits="userSpaceOnUse">
      <stop offset="17%" stop-color="#9ddaf4"/>
      <stop offset="17%" stop-color="#c1c7f0"/>
      <stop offset="29%" stop-color="#c1c7f0"/>
      <stop offset="29%" stop-color="#e1b4df"/>
      <stop offset="40%" stop-color="#e1b4df"/>
      <stop offset="40%" stop-color="#f6a3c1"/>
      <stop offset="47%" stop-color="#f6a3c1"/>
      <stop offset="67%" stop-color="#fc979f"/>
      <stop offset="83.33%" stop-color="#fc979f"/>
      <stop offset="84%" stop-color="#f47c69"/>
      <stop offset="100%" stop-color="#f47c69"/>
    </radialGradient>
    <g transform="rotate(-90, 56, 56)">
      <path [attr.d]="clipPath" fill="url(#heatGradient)"/>
      <path [attr.d]="segmentPath" fill=none stroke-width=1 stroke=rgb(222,222,222)/>
    </g>
    <circle cx="56" cy="56" r="56" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
    <circle cx="56" cy="56" r="52" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
    <circle cx="56" cy="56" r="47" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
    <circle cx="56" cy="56" r="40" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
    <circle cx="56" cy="56" r="29" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
    <circle cx="56" cy="56" r="16" stroke="#E8E9EB" stroke-width="1" fill-opacity="0"/>
  </svg>

  <div class="angle-text" [style.right]="'156px'" [style.top]="'0px'">front</div>
  <div class="angle-text" [style.left]="'234px'" [style.top]="'70px'">right</div>
  <div class="angle-text" [style.right]="'157px'" [style.top]="'136px'">back</div>
  <div class="angle-text" [style.right]="'237px'" [style.top]="'71px'">left</div>

  <ng-container *ngIf="showTools">
    <hr class="tool-hr">
    <div class="angle-text" [style.left]="'0px'" [style.top]="'160px'">Zones: {{segments}}</div>
    <input class="segment-input dc-slider" type="range" value=8 min=2 max=24 [(ngModel)]="segments" (input)="segmentChange()">
    <div class="angle-text" [style.right]="'0px'" [style.top]="'160px'">Offset</div>
    <input class="offset-input dc-slider" type="range"  min=0 max=1 step=0.01 [(ngModel)]="angleOffset" (input)="offsetChange()">
  </ng-container>

  <img (click)="toggleDisplay(true)" class="info-button" src="../../assets/img/question.svg"/>
  <div class="graph-menu">
    <app-context-menu #graphMenu>
      <div class="menu-item" (click)="showTools = !showTools; graphMenu.toggle(false);">{{(showTools)? 'Hide Tools': 'Show Tools'}}</div>
      <div class="menu-item" (click)="resetDiagram(); graphMenu.toggle(false);">Reset</div>
    </app-context-menu>
  </div>
</div>

<app-dialog *ngIf="showDialog">
  <div>
    <div class="dialog-heading">Direction of Arrival</div>
    This graph displays the distribution of the conversation based on the direction of arrival of each transcript. The front of the room corresponds to the 0° mark on the pod.
    <button class="cancel-button" (click)="toggleDisplay(false)">Close</button>
  </div>
</app-dialog>
