requests==2.21.0
spacy==3.7.5
numpy==1.26.4
redis==3.2.1
nltk==3.6.6
gensim==3.7.2
Twisted==22.2.0
autobahn==20.12.3
google-cloud-speech==1.2.0
simplejson==3.16.0
eyed3==0.8.12
pydub==0.24.0
transformers>=4.34.0
scipy==1.12.0
moviepy==1.0.2
librosa
hmmlearn
sentence-transformers
speechbrain
scikit-learn
