<div class="footer-bar" [class.dialog-blur]="sessionEnding">
    <div class="session-toolbar">
        <span class="session-time">
            <div class="time">{{timeText}}</div>
            <div class="info">Total duration</div>
        </span>
        <span class="middle-content">
            <ng-content></ng-content>
        </span>
        <span *ngIf="session.recording" class="session-end" (click)="onEndSession()">
            <button class="end-button">End</button>
        </span>
    </div>
</div>

<app-dialog *ngIf="sessionEnding" (closeDialog)="closeEndDialog()">
    <div class="dialog-content">
        <div class="dialog-heading">Session Ending...</div>
        <div class="dialog-spinner"><app-spinner></app-spinner></div>
    </div>
</app-dialog>
