[Unit]
Description=Dashboard Collector Service
After=network-online.target
StartLimitIntervalSec=0

[Service]
User={{app_user}}
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
WorkingDirectory=/var/lib/chemistry-dashboard/
ExecStart=/var/lib/chemistry-dashboard/audio_processing/venv/bin/python3 audio_processing/server.py

[Install]
WantedBy=multi-user.target