<div class="container">
  <app-header
    [title]="'Upload Files'"
    (backClick)="navigateToHomescreen()"
  ></app-header>
  <div class="intro-box">
    <div class="padding-file"></div>
    <div class="load-text">Upload files for topic modeling.</div>
  </div>
  <form
    [formGroup]="uploadForm"
    (ngSubmit)="onSubmit()"
    action="#"
    enctype="multipart/form-data"
  >
    <div>
      <input
        type="file"
        name="fileUpload"
        multiple
        (change)="onFileSelect($event)"
      />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
  <div>
    <button class="basic-button medium-button" (click)="createTopicModel()">
      Create Topic Model
    </button>
  </div>
</div>
