// Global color definitions

// Text
$text-black: #221a33;
$text-error: #b3261e;
$text-blue: #3a2163;
$text-regular: #221a33;
$text-light: #675e7d;
$text-white: #ffffff;
$text-light-blue: #5b3a94;
$text-red: #DC2929;

// Solid
$solid-background: #F7F8FC;
$solid-white: #f5f3f9;
$solid-ultra-white: #FFFFFF;
$solid-blue: #3a2163;
$solid-red: #b3261e;
$solid-green: #6BDA88;
$solid-light-grey: #CACACE;
$solid-lighter-grey: #E5E5E6;

// Gradient
$gradient-blue: linear-gradient(147.59deg, #3a2163 0%, #5b3a94 100%);

// Shadow
$shadow-blue: #454599;
$shadow-blue-alpha: rgba(42, 23, 74, 0.2);
$button-shadow: rgba(12%, 7%, 60%, 0.3);
