/* #root{
  display: flex;
  height: 100vh;
} */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@import "tailwindcss";

#root {
    @apply box-border flex h-screen w-screen overflow-clip;
}

.main-container {
    @apply @container relative box-border flex h-full w-full min-w-fit flex-col;
}

.text-sans {
    @apply font-sans text-lg font-bold text-[#6466E3];
}

.center-column-container {
    @apply @container relative box-border flex grow overflow-y-auto flex-col;
}

.infographics-container {
    @apply @container relative flex w-full max-w-full flex-row flex-wrap justify-around;
}

