/* #root{
  display: flex;
  height: 100vh;
} */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@import "tailwindcss";

#root {
    @apply box-border flex h-screen w-screen overflow-clip;
}

.main-container {
    @apply @container relative box-border flex h-full w-full min-w-fit flex-col;
}

.basic-button {
    @apply m-0.5 box-border w-19 cursor-pointer rounded-4xl border bg-gradient-to-r from-[#764BFF] to-[#7BB7F1] px-1 py-2 text-center font-sans text-xs/normal font-normal text-[#FAFAFC] transition-shadow hover:shadow-2xl focus:border-[#301f66] focus:ring focus:outline-none active:bg-[#573dac] sm:m-3 sm:w-35 sm:text-base/loose
}

.large-button {
    @apply m-0.5 box-border w-60 cursor-pointer rounded-4xl border bg-gradient-to-r from-[#764BFF] to-[#7BB7F1] px-1 py-2 text-center font-sans text-lg/relaxed font-normal text-[#FAFAFC] transition-shadow hover:shadow-2xl focus:border-[#301f66] focus:ring focus:outline-none active:bg-[#573dac] sm:m-3 sm:w-80 sm:text-xl/loose
}
.text-sans {
    @apply font-sans text-lg font-bold text-[#6466E3];
}

.center-column-container {
    @apply @container relative box-border flex grow overflow-y-auto flex-col min-w-[320px];
}

.infographics-container {
    @apply @container relative flex w-full max-w-full flex-row flex-wrap justify-around;
}

