@import '../../design-system';

.greeting {
    @include text-title1($text-blue);
    margin: $stack-XS;
    margin-top: $space-2XL;
    text-align: center;
}

.instruction {
    @include text-caption1($text-light);
    width: 343px;
}

.text-input {
  font-size: 14px;
  padding: 0px 10px;
  margin: 12px 0px;
  width: 320px;
  height: 30px;
  box-shadow: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #a7a7a7;
  outline: none;
  transition: border-color 0.5s;
}

.text-input:focus {
  border-color: #006db3;
}