
<div class="container">
  <app-header [title]="'Sign In'" (backClick)="navigateBack()"></app-header>
  <br>
  <div class="instruction">Please enter your username and password.</div>
  <input class="text-input" #username placeholder="username / email" name="username">
  <input class="text-input" #password placeholder="password" type="password" name="password">
  <button class="basic-button medium-button" (click)='login()'>Sign In</button>

  <app-dialog *ngIf="showLoginDialog">
   <div class="add-dialog">
      <div class="dialog-heading">Login Failed</div>
     {{ loginErrorText }}
     <button class="cancel-button" (click)="closeDialog()">Close</button>
   </div>
  </app-dialog>
</div>