[Unit]
Description=BLINC Video Post-hoc Processing Service (blinc.puthipiroj.com)
After=network-online.target redis-server.service
StartLimitIntervalSec=0

[Service]
User=vlj9405
Group=www-data
Type=simple
Restart=always
RestartSec=1
LimitRTPRIO=99
LimitRTTIME=infinity
Environment="DC_VIDEO_POSTHOC_WS_PORT=9014"
Environment="PYTHONPATH=/home/vlj9405/code/chemistry-dashboard/src/video_processing:/home/vlj9405/code/chemistry-dashboard/src/video_processing/yolo_head"
WorkingDirectory=/home/vlj9405/code/chemistry-dashboard/
ExecStart=/home/vlj9405/code/chemistry-dashboard/src/video_processing/venv/bin/python src/video_processing/server_posthoc.py

[Install]
WantedBy=multi-user.target
