<div class="container">
  <app-header [title]="pageTitle" (backClick)="navigateToLogin()"></app-header>
  <div *ngIf="!connected" class="container">
    <div class="instruction">Please type your name and passcode to join a discussion.</div>
    <div class="instruction">If rejoining a discussion, type the same name you used previously.</div>
    <input #txtName class="text-input" placeholder="Name">
    <input #txtPasscode class="text-input" placeholder="Passcode (4 characters)" maxlength="4" (input)="converToUpperCase(txtPasscode)">
    <button class="medium-button basic-button" (click)="verifyInputAndAudio(txtName.value, txtPasscode.value)">Join Discussion</button>
  </div>
  <div *ngIf="connected && authenticated" class="list-container">
    <div class="pod-overview-button" (click)="requestHelp()">
      <svg width="80px" height="80px" [style.marginTop]="'22px'" viewBox="-40 -40 80 80">
        <svg x="-8.5" y="-13.5" width="17" height="27" viewBox="0 0 17 27">
          <use xlink:href="../assets/img/mic.svg#5" [attr.fill]="POD_COLOR"></use>
        </svg>
        <svg:circle *ngIf="sessionDevice.button_pressed" class="svgpulse" x="0" y="0" r="33.5" fill-opacity="0" [attr.stroke]="GLOW_COLOR"></svg:circle>
        <svg:circle x="0" y="0" r="30.5" fill-opacity="0" stroke-width="3" [attr.stroke]="POD_COLOR"></svg:circle>
      </svg>
      <div [style.marginTop]="'13px'">Help</div>
    </div>
  </div>
</div>

<app-dialog *ngIf="currentForm" (closeDialog)="closeDeleteDialog()">
  <div *ngIf="currentForm == forms.NavGuard" class="dialog-window">
    <div class="dialog-heading">Stop Recording</div>
    <div class="dialog-body">Leaving this page will stop recording. Are you sure you want to continue?</div>
    <button class="delete-button" (click)="navigateToLogin(true)">Yes</button>
    <button class="cancel-button" (click)="closeDialog()">Cancel</button>
  </div>
  <div *ngIf="currentForm == forms.JoinError" class="add-dialog">
    <div class="dialog-heading">Failed to Join</div>
    {{ displayText }}
    <button class="cancel-button" (click)="closeDialog()">Close</button>
  </div>
  <div *ngIf="currentForm == forms.ClosedSession">
    <div class="dialog-heading">Discussion Closed</div>
    {{ displayText }}
    <button class="cancel-button" (click)="closeDialog()">Close</button>
  </div>
  <div *ngIf="currentForm == forms.Connecting">
    <div class="dialog-heading">Connecting...</div>
    Please wait...
  </div>
</app-dialog>