.timeline-handle {
  position: absolute;
  width: 20px;
  height: 50px;
  background-color: #3a2163;
  border-radius: 5px;
  cursor: pointer;
}

.timeline-bar {
  position: absolute;
  height: 30px;
  top: 10px;
  background-color: #b1b1ff;
}

.timeline-background {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 10px;
  /*width: 280px;*/
  border-radius: 5px;
  background-color: #CACACE;
}

.timeline-text {
  position: absolute;
  font-family: 'SST', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #221a33;
  opacity: 0.5;
}

/*.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactSlider {
  width: 300px;
  height: 10px;
  margin: 10px;
  background-color: #d3d3d3;
}

.ReactSlider .slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CAF50;
}*/
