.svgpulse {
  animation: svgpulse 1s ease-out infinite;
}

.dialog-window {
  min-width: 270px;
}

@-webkit-keyframes svgpulse {
  0% {
    stroke-width: 0;
    r: 31.5;
  }
  15% {
    stroke-width: 0;
    r: 31.5;
  }
  100% {
    stroke-width: 8;
    r: 35.5;
  }
}

@keyframes svgpulse {
  0% {
    stroke-width: 0;
    r: 31.5;
  }
  15% {
    stroke-width: 0;
    r: 31.5;
  }
  100% {
    stroke-width: 8;
    r: 35.5;
  }
}
